
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure,figcaption{margin:0;padding:0;}
ul,ol,li{list-style:none;}
b,strong{font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-weight:normal}
a,u{text-decoration:none}
em,i{font-style: normal;}
b,strong{font-style: none}
img{border:0;display: block;}
input{outline: none}
figure{margin:0;}
.clear_fix:after{content:'.';display: block;clear: both;;height: 0;overflow:hidden;visibility: hidden;}
.clear_fix{zoom:1;}

